.main {
    padding: 0;
    margin: 10px;
    display: flex;
    border: 2px solid black;
}

.img {
    background-image: linear-gradient( rgba(1, 1, 1, 0.8), rgba(1, 1, 10.5)), url("bg2.jpg");
    color: white;
    flex-basis: 50%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

h3 {
    color: red
}

.btn {
    width: 200px;
    height: 30px;
    color: white;
    background-color: red;
    border-color: red;
    font-size: 13px;
    font-weight: 900;
}

.content {
    flex-basis: 50%;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.content input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
}

.content p {
    text-align: center;
}

.content ::placeholder {
    text-align: center;
}